<!-- Sélecteur de couleur -->
<select (change)="onColorChange($event)">
    <option value="">-- Sélectionner une couleur --</option>
    <option *ngFor="let color of colors" [value]="color.id">
      {{ color.nom }}
    </option>
  </select>
  
  <!-- Rectangle pour la couleur sélectionnée -->
  <div *ngIf="selectedColor" 
       class="color-rectangle-selected" 
       [style.backgroundColor]="selectedColor.codeCouleur">
    {{ selectedColor.nom }}
  </div>
  
  <!-- Liste de toutes les couleurs si aucune sélection -->
  <div class="rectangle-container" *ngIf="!selectedColor">
    <div *ngFor="let color of colors" 
         class="color-rectangle" 
         [style.backgroundColor]="color.codeCouleur">
      {{ color.nom }}
    </div>
  </div>
  